# Service Provider Service Environment Configuration
SERVICE_PROVIDER_SERVICE_HOST=0.0.0.0
SERVICE_PROVIDER_SERVICE_PORT=8002
DEBUG=True

# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
DB_NAME=service_provider_service
COLLECTION_NAME=providers
